.notes {
  min-height: calc(100vh - 80px);
  background-color: #e1e1e1;

  &__input {
    width: 300px;
    margin: 30px auto 0;
  }

  &__btn {
    background-color: #FFFFFF;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 100px;
  }
}

.note-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 10px;
  background-color: #FFFFFF;
  height: 100px;
  overflow: hidden;
}