@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 0 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

a {
    color: #0090ff;
}

p {
    font-size: 12px;
}

article {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.super-fast {
    min-width: 0;
    text-indent: 20px;
}

img {
    width: 300px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

h3 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
}

li {
    padding: 10px 0;
}

dd {
    font-size: 14px;
    margin-left: 20px;
}

i {
    font-style: italic;
}

dl {
    float: right;
    display: inline-block;
    vertical-align: top;
}

dl i {
    font-size: 11px;
}

li:last-child {
    display: flex;
    justify-content: flex-start;
}

li:before {
    content: ">";
    padding: 0 10px;
}

q {
    display: inline;
}

q:before, q:after {
    content: '"';
}

sub {
    vertical-align: sub;
    font-size: smaller
}

sup {
    vertical-align: super;
    font-size: smaller
}

b, strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ins {
    background-color: #d6ff9a;
}

.pre-code {
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 20px;
}

.dropdown {
    display: none;
}

code {
    width: 100%;
    font-family: 'Fira Code', monospace;
    letter-spacing: 1px;
    line-height: 18px;
    color: #9972c5;
}

.page-block {
    padding: 30px 100px;
    background-color: #e1e1e1;
    border-bottom: dashed 5px #ffffff;
    z-index: 0;
}

.page-block:last-child {
    border: none;
}

.nav {
    width: auto;
}

h1 {
    margin: 0;
}

.nav__link {
    margin: 0 30px;
    text-decoration: none;
    color: #444444;
    transition: linear 0.1s;
    font-size: 18px;
}

.nav__link:first-child {
    margin: 0 30px 0 0;
}

.nav__link:hover {
    transition: linear 0.2s;
    color: #0090ff;
    border-color: #0090ff;
}

.nav__link:active {
    color: #0061ab;
}

.nav__link_current {
    color: #0061ab;
    border-bottom: dashed 2px #0061ab;
    box-sizing: border-box;
}

.icon-wrapper {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.icon {
    display: inline-block;
    font-size: 32px;
    color: #444444;
    transition: linear 0.1s;
    text-decoration: none;
}

.icon:hover {
    font-size: 40px;
    color: #0090ff;
}

.icon:active {
    color: #0061ab;
}

.timer {
    color: #41a0e8;
}

.page-header {
    margin-top: 80px;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.block-header {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
}

.text {
    font-size: 16px;
    line-height: 25px;
}

.geese {
    font-family: 'Courier', monospace;
    overflow: hidden;
}

.table {
    display: grid;
    grid-template-rows: 70px 70px 70px;
    background-color: #eeeeee;
    border-radius: 10px;
    overflow: scroll;
    overflow-y: hidden;
}

.table__row {
    display: grid;
    grid-template-columns: minmax(85px, 1fr) minmax(85px, 1fr) minmax(85px, 1fr) minmax(85px, 1fr) minmax(85px, 1fr);
    border-bottom: solid 4px #e1e1e1;
    border-radius: 10px;
}

.table__row:nth-child(odd) {
    background-color: #eaeaea;
}

.table__row:last-child {
    border-bottom: none;
}

.table__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.table__header {
    vertical-align: center;
    font-weight: bold;
}

.food-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.food-item {
    transition: 0.2s;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
}

.spaghetti {
    background: url("https://www.maggi.ru/data/images/recept/img640x500/recept_15148_m9of.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.pizza {
    background: url("https://s1.eda.ru/StaticContent/Photos/120131085053/171027192707/p_O.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.sushi {
    background: url("https://www.tokyo-city.ru/templates/img/menu/txt_cat2/400_300_sushi-min.png") 50% 50% no-repeat;
    background-size: cover;
}

.ramen {
    background: url("https://the-challenger.ru/wp-content/uploads/2018/05/shutterstock_379968754-800x577.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.food-item__name {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.2s;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

.food-item__name:hover {
    backdrop-filter: blur(5px);
    transition: 0.2s;
}

.food-item:hover .food-item__name {
    opacity: 1;
    transition: 0.2s;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.spinner {
    font-size: 40px;
}

.error {
    background-color: #ffffff;
    margin: 0 auto 30px;
    padding: 40px;
    border-radius: 10px;
    color: #c21212;
    max-width: 300px;
    text-align: center;
}

.comment {
    background-color: #ffffff;
    margin: 25px 0;
    padding: 15px;
    border-radius: 10px;
}

.comment__author {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: dashed 2px #e1e1e1;
    color: #6c789d;
}

.comment__name {
    font-weight: 700;
}

.comment__content {
    padding-top: 15px;
}

#map {
    height: 360px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
    body {
        font-size: 12px;
    }

    article {
        flex-wrap: wrap;
    }

    .page-block {
        padding: 30px 30px;
        background-color: #e1e1e1;
        border-bottom: dashed 5px #ffffff;
        z-index: 0;
    }

    pre {
        overflow: scroll;
        overflow-y: hidden;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 60px;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        z-index: 10;
        padding: 0 30px;
    }

    footer {
        padding: 30px 30px;
    }

    .page-header {
        margin-top: 60px;
    }

    .nav {
        display: none;
    }

    .dropdown {
        display: block;
    }
}